@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Pacifico&display=swap");
* {
  font-family: "Arimo", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #00806c;
  width: 100vw;
}

a.nav-link,
a.navbar-brand {
  /* color: #d2e3c3; */
  color: white;
}

a.nav-link:hover,
a.navbar-brand:hover {
  color: #d2e3c3;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 1vw;
}

.orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 1vw;
}

.space-between-container {
  display: flex;
  justify-content: space-between;
}

.card-container {
  height: auto;
  width: 320px;
  /* box-shadow: 0px 0px 10px 2px #d0d7de; */
  border-radius: 20px;
  border: 1px solid #d0d7de;
  margin: 0 0.5vw 35px;
}

.order-card {
  height: auto;
  width: auto;
  /* box-shadow: 0px 0px 10px 2px #d0d7de; */
  border-radius: 20px;
  border: 1px solid #d0d7de;
  padding: 20px;
  margin: 0 0.5vw 35px;
}

.card-image {
  background-position: center;
  background-size: cover;
  height: 180px;
  width: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  padding: 0;
}


.card-content {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 270px;
  width: auto;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-links {
  display: flex;
  flex-direction: row;
}

button.btn-sm,
.button-link {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  background-color: #00806c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-sm:hover,
.button-link:hover {
  color: #d2e3c3;
}

button.btn-xs {
  display: inline-block;
  padding: 0px 20px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  background-color: #00806c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 250px;
  border: 1px solid #ccc;
  color: black;
}

label {
  margin: 5px 0;
  font-weight: 500;
}

.center-text {
  display: flex;
  justify-content: center;
}

.wholesome-harvest {
  font-family: "Pacifico", cursive;
  text-shadow: 1px 1px 2px black;
  font-size: 50px;
}
